@page
@model MediaCloud.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="page-container">
    <h1>
        Account settings
    </h1>

	<div class="button-panel">
        <div>
           <a onclick="history.back();" class="btn btn-info">
				Back
			</a>
        </div>
	</div>

	<hr>

    <div class="page-center-container">
		<div class="card w-50" style="border-radius: 1rem;">
			<div class="card-body p-5 text-left text-black">
				<form enctype="multipart/form-data" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					@if (Model.Actor.IsAdmin)
					{
						<input type="hidden" asp-for=@(Model.IsEnvironmentSettingsChanged) class="form-control" id="IsEnvironmentSettingsChanged">
					}
					<input type="hidden" asp-for=@(Model.Actor.Id) class="form-control">
					<input type="hidden" asp-for=@(Model.ReturnUrl) class="form-control">

					<div>
						Name: @Html.DisplayTextFor(x => x.Actor.Name)
					</div>
					<div>
						Last login at: @Html.DisplayTextFor(x => x.Actor.LastLoginAt)
					</div>

					<h5 class="mt-5">User settings</h5>
					<hr>
					<div class="form-group mb-3">
						<label class="col-form-label">
							Count of entities at page in list
						</label>
						<input class="form-control" asp-for="@Model.ActorSettings.ListMaxEntitiesCount" />
					</div>
					<div class="form-group mb-3">
						<label class="col-form-label">
							Count of showing pages in pagination
						</label>
						<input class="form-control" asp-for="@Model.ActorSettings.ListMaxPageCount" class="form-control" />
					</div>
					<div class="form-group mb-3">
						<label class="col-form-label" asp-for="@Model.ActorSettings.ListAutoloadingEnabled">
							Autoload next entities in list
						</label>
						<div class="w-100">
							<input class="form-check-input big-form-check-input"
							type="checkbox" 
							asp-for="@Model.ActorSettings.ListAutoloadingEnabled"/>
						</div>
					</div>
					<div class="form-group mb-3">
						<label class="col-form-label">
							Count of days to show in activity statistic
						</label>
						<input class="form-control" asp-for="@Model.ActorSettings.StatisticActivityBacktrackDayCount" />
					</div>

					@if (Model.Actor.IsAdmin && Model.EnvironmentSettings != null) {
						<h5 class="pt-5">
							Environment settings:
						</h5>

						<hr>

						<div> 
							<div style="color: red;">
								Be carefull, wrong changes may make application unrunnable. 
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="col-form-label">
								Database connection string. Need an app restart to apply changes.
							</label>
							<input class="form-control bg-warning" asp-for="@Model.EnvironmentSettings.DatabaseConnectionString" onchange="environmentSettingChanged()"/>
						</div>
						<div class="form-group mb-3">
							<label class="col-form-label">
								Cookie expiration time (min). Need an app restart to apply changes. 
							</label>
							<input class="form-control bg-warning" 
								asp-for="@Model.EnvironmentSettings.CookieExpireTime" 
								onchange="environmentSettingChanged()"/>
						</div>
						<div class="form-group mb-3">
							<label class="col-form-label">
								Max previews height size (pixels)
							</label>
							<input class="form-control bg-warning" 
								asp-for="@Model.EnvironmentSettings.PreviewMaxHeight" 
								onchange="environmentSettingChanged()"/>
						</div>
						<div class="form-group mb-3">
							<label class="col-form-label">
								Password min length
							</label>
							<input class="form-control bg-warning" 
								asp-for="@Model.EnvironmentSettings.PasswordMinLength" 
								onchange="environmentSettingChanged()"/>
						</div>
						<div class="form-group mb-3">
							<label class="col-form-label" asp-for="@Model.EnvironmentSettings.PasswordMustHaveSymbols">
								Password must have at least one symbol
							</label>
							<div class="w-100">
								<input class="form-check-input bg-warning big-form-check-input"
								type="checkbox" 
								asp-for="@Model.EnvironmentSettings.PasswordMustHaveSymbols" 
								onchange="environmentSettingChanged()"/>
							</div>
						</div>
					}

					<div class="form-group mt-5 w-25 d-flex justify-content-between">
						<input type="submit" value="Save" class="btn btn-success" />
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

@if (Model.Actor.IsAdmin) {
	<script>
		function environmentSettingsChanged() {
			var element = document.getElementById("IsEnvironmentSettingsChanged");
			element.value = true;
		}
	</script>
}