@model MediaCloud.WebApp._GalleryPageModel
@{
}


@for(int i = 0; i < Model.Previews.Count; i += 1)
{
    @if (Model.Previews[i].Collection != null)
    {
        <div class="col-sm shadow-1-strong picture mb-2 d-flex justify-content-end align-items-end gallery-item"
            onclick="OnCardClick('Collection', '@(Model.Previews[i].Collection?.Id)')" 
            onauxclick="OnCardInNewWindowClick('Collection', '@(Model.Previews[i].Collection?.Id)')">
            <div class="bg-success rounded-circle gallery-item-bubble">
                @Model.Previews[i].Collection?.Count
            </div>
            <img class="w-100 shadow-1-strong mb-4 picture-image bg-image"
                src="data:image/png;base64,@Convert.ToBase64String(Model.Previews[i].Content)"
            />
        </div>
    }
    else
    {
        <div class="col-sm shadow-1-strong picture mb-2 d-flex justify-content-end align-items-end gallery-item"
            onclick="OnCardClick('Detail', '@(Model.Previews[i].Id)')" 
            onauxclick="OnCardInNewWindowClick('Detail', '@(Model.Previews[i].Id)')">
            <img class="w-100 shadow-1-strong mb-4 picture-image bg-image"
                src="data:image/png;base64,@Convert.ToBase64String(Model.Previews[i].Content)"
            />
        </div>
    }
}