@page
@using MediaCloud.Data.Types
@model MediaCloud.Pages.Medias.DetailModel

@{
    ViewData["Title"] = "Details";
}

<div class = "page rounded-3 p-3 text-white">
    <h1>Details</h1>

    <div class="button-panel d-flex flex-row align-items-center">
        <div>
            <a href="@(Model.ReturnUrl)" class="btn btn-info mt-4">Back to Gallery</a>
        </div>
    </div>

    <hr />

    

    <div class="img-container">
        @if (Model.PrevPreviewId != null)
        {
            <img id="left-arrow" src="/img/arrow-left.svg" style="cursor: pointer; position: absolute; left: 0; width: 2rem; background: deepskyblue; padding: 0.5rem; border-radius: 1rem" onclick="window.location='/Medias/Detail/?id=@(Model.PrevPreviewId)&returnUrl=@(Model.ReturnUrl)'" />

        }
        
        <div class="w-100 shadow-1-strong mb-4" style="max-height: 85vmin;">
            <img class="w-100 h-100 shadow-1-strong mb-2 me-3 rounded" style="object-fit: contain; max-height: 85vmin;"
                 src="data:image/png;base64,@Convert.ToBase64String(Model.Media.Content)" />
        </div>

        @if (Model.NextPreviewId != null)
        {
            <img id="right-arrow" src="/img/arrow-right.svg" style="cursor: pointer; position: absolute; right: 0; width: 2rem; background: deepskyblue; padding: 0.5rem; border-radius: 1rem" onclick="window.location='/Medias/Detail/?id=@(Model.NextPreviewId)&returnUrl=@(Model.ReturnUrl)'" />
        }
    </div>

    

    <div class="row">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for=@(Model.ReturnUrl) class="form-control">
            <input type="hidden" asp-for=@(Model.PreviewId) class="form-control">
            <input type="hidden" asp-for=@(Model.Media.Preview.Id) class="form-control">
            <input type="hidden" asp-for=@(Model.Media.Id) class="form-control">
            <input type="hidden" asp-for=@(Model.ReturnUrl) class="form-control">
            <div class="row">
                <div class="form-group mb-3 col">
                    <label class="col-form-label">Enter tags with spaces between</label>
                    <textarea asp-for="@Model.TagsString" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group mb-3 d-flex justify-content-between">
                <input type="submit" value="Edit" class="btn btn-success" />
                <button class="btn btn-danger btn-rounded" asp-page-handler="Delete" asp-route-id=@(Model.PreviewId)>Remove</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm pt-3">
            <ul class="list-group">
            <li class="list-group-item">Id: @Model.Media.Id</li>  
            <li class="list-group-item">Resolution: @Model.Media.Resolution</li>
            <li class="list-group-item">Size: @Model.Media.SizeInfo</li>
            <li class="list-group-item">Creator: @Model.Media.Creator.Name</li>
            <li class="list-group-item">Updator: @Model.Media.Updator.Name</li>
            <li class="list-group-item">Time of create: @Model.Media.CreatedAt</li>
            <li class="list-group-item">Time of update: @Model.Media.UpdatedAt</li>
        </ul>
        </div>
        <div class="col-sm pt-3">
             <ul class="list-group h-100">
                 <li class="list-group-item h-100">Related tags: 
                     @foreach(var tag in Model.Tags)
                    {
                        if (tag.Type == TagType.Character)
                        {
                            <a class="btn btn-warning btn-rounded me-1 mb-2" asp-page="/Tags/Detail" asp-route-id=@tag.Id>@tag.Name</a>
                        }
                        else if (tag.Type == TagType.Series)
                        {
                            <a class="btn btn-success btn-rounded me-1 mb-2" asp-page="/Tags/Detail" asp-route-id=@tag.Id>@tag.Name</a>
                        }
                        else if (tag.Type == TagType.Clothes)
                        {
                            <a class="btn btn-danger btn-rounded me-1 mb-2" asp-page="/Tags/Detail" asp-route-id=@tag.Id>@tag.Name</a>
                        }
                        else
                        {
                            <a class="btn btn-info btn-rounded me-1 mb-2" asp-page="/Tags/Detail" asp-route-id=@tag.Id>@tag.Name</a>
                        }
                    }
                 </li>         
            </ul>
        </div>
    </div>

</div>

<script>
    document.addEventListener('keydown', (event) => {
        if ( event.code == 'ArrowLeft') {
            document.getElementById("left-arrow").click();
        }
        if (event.code == 'ArrowRight') {
            document.getElementById("right-arrow").click();
        }
    }, false);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}