@page
@model StatisticModel
@{
    ViewData["Title"] = "Statistic";
}
@using MediaCloud.Services;

<h1 class="pt-3 text-white">Statistic</h1>

<hr />

<div>
    <div class="row" style="justify-content: space-around;">
        <div class="col whiteback-bar">
            <canvas id="CountChart"></canvas>
        </div>
        <div class="col whiteback-bar">
            <canvas id="SizeChart"></canvas>
        </div>
    </div>
    <div class="row" style="justify-content: space-around;">
        <div class="col-4 whiteback-bar">
            <canvas id="TagsChart"></canvas>
        </div>
        <div class="col-7 whiteback-bar">
            <canvas id="ActivityChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
    var targetSizeError = @Model.SizeTargetError.ToString(System.Globalization.CultureInfo.InvariantCulture);

    function formatBytes(bytes, decimals = 2) {
        if (!+bytes) return '0 Bytes'

        const k = 1024
        const dm = decimals < 0 ? 0 : decimals
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

        const i = Math.floor(Math.log(bytes) / Math.log(k))

        return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
    }

    new Chart(document.getElementById('SizeChart'), {
        type: 'line',
        data: {
            labels: ['@(Html.Raw(string.Join("', '", Model.Snapshots.Select(x => x.TakenAt.ToString("MM.dd.yyyy")))))'],
            datasets: [{
                label: 'Medias size',
                data: [@(Html.Raw(string.Join(", ", Model.Snapshots.Select(x => x.MediasSize))))],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Medias size total uploaded (' + targetSizeError * 100 + '% error)'
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.dataset.label || '';
                            return formatBytes(context.parsed.y + context.parsed.y * targetSizeError, 1);
                        }
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    type: "linear",
                    ticks: {
                        callback: function (value, index, ticks) {
                            return formatBytes(value + value * targetSizeError, 1);
                        }
                    }
                }
            }
        }
    });

    new Chart(document.getElementById('CountChart'), {
        type: 'line',
        data: {
            labels: ['@(Html.Raw(string.Join("', '", Model.Snapshots.Select(x => x.TakenAt.ToString("MM.dd.yyyy")))))'],
            datasets: [{
                label: 'Medias count',
                data: [@(Html.Raw(string.Join(", ", Model.Snapshots.Select(x => x.MediasCount))))],
                fill: true,
            },
            {
                label: 'Tags count',
                data: [@(Html.Raw(string.Join(", ", Model.Snapshots.Select(x => x.TagsCount))))],
                fill: true,
            },
            {
                label: 'Actors count',
                data: [@(Html.Raw(string.Join(", ", Model.Snapshots.Select(x => x.ActorsCount))))],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Entities count'
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(document.getElementById('TagsChart'), {
        type: 'pie',
        data: {
            labels: ['@(Html.Raw(string.Join("', '", Model.Tags.Select(x => x.Name))))'],
            datasets: [{
                label: 'Medias count',
                data: [@(Html.Raw(string.Join(", ", Model.Tags.Select(x => x.PreviewsCount))))],
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Tag popularity (top ' + @Model.Tags.Count() + ')'
                }
            }
        }
    });

    new Chart(document.getElementById('ActivityChart'), {
        type: 'bar',
        data: {
            labels: ['@(Html.Raw(string.Join("', '", Model.Snapshots.OrderBy(x => x.TakenAt).TakeLast(Model.ActivityBacktrackDayCount).Select(x => x.TakenAt.ToString("MM.dd.yyyy")))))'],
            datasets: [{
                label: 'Activity factor',
                data: [@(Html.Raw(string.Join(", ", Model.Snapshots.OrderBy(x => x.TakenAt).TakeLast(Model.ActivityBacktrackDayCount).Select(x => x.ActivityFactor))))],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Activity of users (last ' + @Model.ActivityBacktrackDayCount + ' days)'
                },
            },
            scales: {
                y: {
                    beginAtZero: true,
                    stepSize: 1
                }
            }
        }
    });
</script>
