@page
@model StatisticModel
@{
    ViewData["Title"] = "Statistic";
}
@using MediaCloud.Services;

<h1 class="pt-3 text-white">Statistic</h1>

<div class="button-panel d-flex flex-row align-items-center mt-3">
    <div>
        <a id="recalculateButton" class="btn btn-info">Recalculate</a>
    </div>
</div>

<hr style="color: white"/>

<div>
    <div class="row" style="justify-content: space-around;">
        <div class="col whiteback-bar">
            <canvas class="chart-canvas" id="CountChart"></canvas>
        </div>
        <div class="col whiteback-bar">
            <canvas class="chart-canvas" id="SizeChart"></canvas>
        </div>
    </div>
    <div class="row" style="justify-content: space-around;">
        <div class="col-4 whiteback-bar" style="justify-content: space-around;">
            <canvas class="chart-canvas-block" style="max-height: 45rem" id="TagsChart"></canvas>
        </div>
        <div class="col whiteback-bar">
            <canvas class="chart-canvas" id="ActivityChart"></canvas>
        </div>
    </div>
</div>

<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Media uploading...</h5>
                <div class="spinner-border text-primary" role="status" id="loadingSpinner" style="display: block">
                </div>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="mb-1">
                    <label class="col-form-label" id="orderPos">Your position in order: updating...</label>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" id="mediasCount">Medias count: updating...</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/Statistic" class="btn btn-primary">Close</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>

<script type="text/javascript">
    var targetSizeError = @Model.SizeTargetError.ToString(System.Globalization.CultureInfo.InvariantCulture);
    var dayDisplayFormat = 'DD'

    function formatBytes(bytes, decimals = 2) {
        if (!+bytes) return '0 Bytes'

        const k = 1024
        const dm = decimals < 0 ? 0 : decimals
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

        const i = Math.floor(Math.log(bytes) / Math.log(k))

        return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
    };

    new Chart(document.getElementById('SizeChart'), {
        type: 'line',
        data: {
            datasets: [{
                label: "Medias size",
                data: [
                    @foreach (var snapshot in Model.Snapshots)
                    {
                        @(Html.Raw("{x:'" + snapshot.TakenAt.Date.ToString("yyyy-MM-dd") + "',y:'" 
                            + snapshot.MediasSize + "'},"))
                    }
                ],
                fill: true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
                axis: 'x'
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Medias size total uploaded (' + (100 - targetSizeError * 100).toFixed(1) 
                        + '% of database)',
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.dataset.label || '';
                            return formatBytes(context.parsed.y + context.parsed.y * targetSizeError, 1);
                        }
                    }
                }
            },
            scales: {
                x: {
                    type: 'time',
                    display: true,
                    time: {
                        unit: 'day',
                        unitStepSize: 1,
                        tooltipFormat: 'DD',
                        displayFormats: {
                            'day': dayDisplayFormat,
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    beginAtZero: true,
                    type: "linear",
                    title: {
                        display: true,
                        text: 'Data size'
                    },
                    ticks: {
                        callback: function (value, index, ticks) {
                            return formatBytes(value + value * targetSizeError, 1);
                        }
                    }
                }
            }
        }
    });

    new Chart(document.getElementById('CountChart'), {
        type: 'line',
        data: {
            datasets: [{
                label: 'Medias count',
                data: [
                    @foreach (var snapshot in Model.Snapshots)
                    {
                        @(Html.Raw("{x:'" + snapshot.TakenAt.Date.ToString("yyyy-MM-dd") + "',y:'" 
                            + snapshot.MediasCount + "'},"))
                    }
                ],
                fill: true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4,
                order: 3
            },
            {
                label: 'Tags count',
                data: [
                    @foreach (var snapshot in Model.Snapshots)
                    {
                        @(Html.Raw("{x:'" + snapshot.TakenAt.Date.ToString("yyyy-MM-dd") + "',y:'" 
                            + snapshot.TagsCount + "'},"))
                    }
                ],
                fill: true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4,
                order: 2
            },
            {
                label: 'Actors count',
                data: [
                    @foreach (var snapshot in Model.Snapshots)
                    {
                        @(Html.Raw("{x:'" + snapshot.TakenAt.Date.ToString("yyyy-MM-dd") + "',y:'" 
                            + snapshot.ActorsCount + "'},"))
                    }
                ],
                fill: true,
                cubicInterpolationMode: 'monotone',
                tension: 0.4,
                order: 1
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Entities count'
                }
            },
            scales: {
                x: {
                    type: 'time',
                    display: true,
                    time: {
                        unit: 'day',
                        unitStepSize: 1,
                        tooltipFormat: 'DD',
                        displayFormats: {
                            'day': dayDisplayFormat,
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Count'
                    }
                }
            }
        }
    });

    new Chart(document.getElementById('TagsChart'), {
        type: 'pie',
        data: {
            labels: ['@(Html.Raw(string.Join("', '", Model.Tags.Select(x => x.Name))))'],
            datasets: [{
                label: 'Medias count',
                data: [@(Html.Raw(string.Join(", ", Model.Tags.Select(x => x.PreviewsCount))))],
                borderWidth: 1,
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Tag popularity (top ' + @Model.Tags.Count() + ' of ' + @Model.Tags.Count + ' total)'
                },
                datalabels: {
                    clip: true,
                    align: 'start',
                    anchor: 'end',
                    clamp: true,
                    formatter: function (value, context) {
                        return context.chart.data.labels[
                            context.dataIndex
                        ];
                    },
                    backgroundColor: function(context) {
                        return context.dataset.backgroundColor;
                    },
                    color: 'white',
                    font: {
                        weight: 'bold'
                    },
                    borderRadius: 12,
                    padding: 12
                },
            }
        },
        plugins: [ChartDataLabels]
    });

    new Chart(document.getElementById('ActivityChart'), {
        type: 'bar',
        data: {
            datasets: [{
                label: 'Activity factor',
                data: [
                    @foreach (var snapshot in Model.Snapshots.Where(x => 
                        x.TakenAt >= DateTime.Now.Date.AddDays(-Model.ActivityBacktrackDayCount)).ToList())
                    {
                        @(Html.Raw("{x:'" + snapshot.TakenAt.Date.ToString("yyyy-MM-dd") + "',y:'" + 
                            snapshot.ActivityFactor + "'},"))
                    }
                ],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Activity of users (last ' + @Model.ActivityBacktrackDayCount + ' days)'
                },
            },
            scales: {
                x: {
                    type: 'time',
                    display: true,
                    time: {
                        unit: 'day',
                        unitStepSize: 1,
                        tooltipFormat: 'DD',
                        displayFormats: {
                            'day': dayDisplayFormat,
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    beginAtZero: true,
                    stepSize: 1
                }
            }
        }
    });

    var orderPosElem = document.getElementById('orderPos');
    var mediaCountElem = document.getElementById('mediasCount');
    var modalTitle = document.getElementById('modalTitle');
    var modalBody = document.getElementById("modalBody");
    var loadSpinner = document.getElementById("loadingSpinner");

    function updateModalLoadBody(data) {
        if (data == undefined) {
            orderPosElem.innerHTML = 'Your position in order: updating...';
            mediaCountElem.innerHTML = 'Snapshots count: updating...';
        }
        else {
            orderPosElem.innerHTML = 'Your position in order: ' + data.queuePosition;
            mediaCountElem.innerHTML = 'Snapshots count: ' + data.workCount;
        }
    }

    function setModalTitle(title) {
        modalTitle.innerHTML = title;
    }

    function hideModalBody() {
        modalBody.style.display = "none";
    }

    function showModalBody() {
        modalBody.style.display = "block";
    }

    function showLoadSpinner() {
        loadSpinner.style.display = "block";
    }

    function hideLoadSpinner() {
        loadSpinner.style.display = "none";
    }

    function formSubmit(event) {
        setModalTitle('Sending to server...');
        showModalBody();
        updateModalLoadBody();

        var url = "/Statistic/Recalculate";
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onload = function () { // request successful
            setModalTitle('Waiting queue for processing...');
            showModalBody();
            updateModalLoadBody();
            $('#loadingModal').modal('show');
            var data = JSON.parse(request.response);

            var url = "/Uploader/GetTaskStatus?id=" + data.id;

            console.log('Goes to update status');

            const updator = function () {
                fetch(url)
                    .then((response) => response.json())
                    .then(function (data) {
                        updateModalLoadBody(data);
                        if (data.queuePosition > 1) {
                            setModalTitle('Waiting queue for processing...');
                        }
                        else if (data.queuePosition = 0 && data.workCount > 0) {
                            setModalTitle('Server processing...');
                        }
                        else if (data.workCount == 0 && data.isInProgress == false) {
                            setModalTitle('Recalculation successfully uploaded!');
                            hideModalBody();
                            hideLoadSpinner();

                            clearInterval(loadingUpdateInterval);
                        }
                        else if (data.workCount == 0) {
                            setModalTitle('Saving in database...');
                            showLoadSpinner();
                        }
                    })
            }

            updator();
            var loadingUpdateInterval = setInterval(updator, 1500);
        };

        request.onerror = function () {
            // request failed
        };

        request.send(); // create FormData from form that triggered event
        event.preventDefault();
    }

    // and you can attach form submit event like this for example
    function attachEvent(elementId) {
        document.getElementById(elementId).addEventListener("click", formSubmit);
    }

    attachEvent('recalculateButton');
</script>
