@page
@model MediaCloud.Pages.Tags.ListModel
@using MediaCloud.Extensions
@using MediaCloud.Data.Types

@{
    ViewData["Title"] = "Tag list";

    var nameSortType = "NameDesc";
    var nameSortSymbol = "";
    var nameButtonStyle = "btn-info";
    var createdAtSortType = "CreatedAtDesc";
    var createdAtSortSymbol = "";
    var createdAtButtonStyle = "btn-info";
    var typeSortType = "TypeDesc";
    var typeSortSymbol = "";
    var typeButtonStyle = "btn-info";
    var previewsCountSortType = "PreviewsCountDesc";
    var previewsCountSortSymbol = "";
    var previewsCountButtonStyle = "btn-info";

    @if (@Model.ListBuilder.Sorting.PropertyName == "NameDesc"){
        nameSortType = "Name";
        nameSortSymbol = "↓";
        nameButtonStyle = "btn-warning";
    }
    else if (@Model.ListBuilder.Sorting.PropertyName == "Name"){
        nameSortType = "NameDesc";
        nameSortSymbol = "↑";
        nameButtonStyle = "btn-warning";
    }

    @if (@Model.ListBuilder.Sorting.PropertyName == "CreatedAtDesc"){
        createdAtSortType = "CreatedAt";
        createdAtSortSymbol = "↓";
        createdAtButtonStyle = "btn-warning";
    }
    else if (@Model.ListBuilder.Sorting.PropertyName == "CreatedAt"){
        createdAtSortType = "CreatedAtDesc";
        createdAtSortSymbol = "↑";
        createdAtButtonStyle = "btn-warning";
    }

    @if (@Model.ListBuilder.Sorting.PropertyName == "TypeDesc"){
        typeSortType = "Type";
        typeSortSymbol = "↓";
        typeButtonStyle = "btn-warning";
    }
    else if (@Model.ListBuilder.Sorting.PropertyName == "Type"){
        typeSortType = "TypeDesc";
        typeSortSymbol = "↑";
        typeButtonStyle = "btn-warning";
    }

    @if (@Model.ListBuilder.Sorting.PropertyName == "PreviewsCountDesc"){
        previewsCountSortType = "PreviewsCount";
        previewsCountSortSymbol = "↓";
        previewsCountButtonStyle = "btn-warning";
    }
    else if (@Model.ListBuilder.Sorting.PropertyName == "PreviewsCount"){
        previewsCountSortType = "PreviewsCountDesc";
        previewsCountSortSymbol = "↑";
        previewsCountButtonStyle = "btn-warning";
    }
}

<div class="page-container">
    <h1>
        Tag list
    </h1>

    <div class="button-panel justify-content-start">
        <div class="button-group">
             <a class="btn btn-success btn-rounded" asp-page="Create">
                Create
            </a>
            <div class="separator"></div>
        </div>

        <div class="button-group">
            <div class="descriptor">
                Sort:
            </div>
            <a class="btn @nameButtonStyle btn-rounded text-nowrap" 
                asp-page="Index" 
                asp-route-sort=@(nameSortType)>
                🅰️ @(nameSortSymbol)
            </a>
            <a class="btn @createdAtButtonStyle btn-rounded text-nowrap" 
                asp-page="Index" 
                asp-route-sort=@(createdAtSortType)>
                📅 @(createdAtSortSymbol)
            </a>
            <a class="btn @typeButtonStyle btn-rounded text-nowrap" 
                asp-page="Index" 
                asp-route-sort=@(typeSortType)>
                🔖 @(typeSortSymbol)
            </a>
            <a class="btn @previewsCountButtonStyle btn-rounded text-nowrap" 
                asp-page="Index" 
                asp-route-sort=@(previewsCountSortType)>
                🗃️ @(previewsCountSortSymbol)
            </a>
        </div>

    </div>  
    <hr class="text-white"/>

    <partial name="~/Pages/Shared/_Pagination.cshtml" />

    <table class="table">
        <thead>
            <tr>
                <th class="table-item-padding">
                    @Html.DisplayNameFor(model => model.Tags[0].Name)
                </th>
                <th class="table-item-padding">
                    @Html.DisplayNameFor(model => model.Tags[0].Description)
                </th>
                <th class="table-item-padding">
                    @Html.DisplayNameFor(model => model.Tags[0].Color)
                </th>
                <th class="table-item-padding">
                    Files count
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Tags) {
            <tr class="list-clickable" 
                onclick="document.location='/Tags/Detail?id=@item.Id';">
                <td class="table-item-padding">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-item-padding">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-item-padding">
                    @(item.Color.GetDisplayName())
                </td>
                <td class="table-item-padding">
                    @Html.DisplayFor(modelItem => item.PreviewsCount)
                </td>
            </tr>
    }
        </tbody>
    </table>

    <partial name="~/Pages/Shared/_Pagination.cshtml" />
</div>

